:root {
  --color-top-menu-bar: #465a54;
  --color-modal-header: #465a54;
  --color-modal-footer: #465a54;
  --color-modal-body: #292928;
  --color-modal-text: #ffffff;
  --color-settings-buttons: #465a54;
  --color-footer: #465a54;
  --color-header: #272727;
  --color-one: #ff6a5f;
  --color-two: #ffffff;
  --color-three: #252f2c;
  --color-four: #252f2c;
  --color-five: #ff0000;
  --color-six: #ff6a5f;
  --color-seven: #860101;
  --color-eight: #8a3b6c;
  --color-nine: #465a54;
  --color-ten: #ffffff;
  --color-eleven: #272727;
  --color-twelve: #272727;
  --color-thirteen: brightness(0) invert(1);
  --color-submit: #ff6a5f;
  --color-cancel: #252f2c;
}

body {
  background: var(--color-footer);
  color: var(--color-ten);
  z-index: 0;
}
div.dataTables_filter input {
  position: fixed;
  top: 103px;
  right: 20px;
  border: 0px solid;
  border-radius: 8px;
  font-weight: bold;
  color: var(--color-ten);
  width: 100px;
  z-index: 10;
}
.fxdtext {
  position: fixed;
  top: 50px;
  left: 200px;
  font-weight: normal;
  font-size: 18px;
  color: var(--color-ten);
  z-index: 500;
}
.fxdtexta {
  position: fixed;
  top: 145px;
  left: 20px;
  font-weight: bold;
  font-size: 16px;
  color: var(--color-three);
  z-index: 10;
}
.fxdtextb {
  position: fixed;
  top: 105px;
  left: 20px;
  font-weight: bold;
  font-size: 20px;
  color: var(--color-ten);
  z-index: 10;
}
.fxdtextaltaj {
  position: fixed;
  top: 105px;
  left: 20px;
  font-weight: normal;
  font-size: 24px;
  color: var(--color-two);
  z-index: 10;
}
.fxdtextalt {
  position: fixed;
  top: 105px;
  left: 20px;
  font-weight: normal;
  font-size: 24px;
  color: var(--color-two);
  z-index: 10;
}
.fxdtextaltvp {
  position: fixed;
  top: 105px;
  left: 20px;
  font-weight: normal;
  font-size: 24px;
  color: var(--color-two);
  z-index: 10;
}
@media screen and (max-width: 2500px) {
  .fxdtext {
    left: 500px;
  }
}
@media screen and (max-width: 768px) {
  .fxdtext {
    left: 150px;
  }
}
div.dataTables_length select {
  position: fixed;
  top: 103px;
  left: 10px;
  border: 0px solid;
  border-radius: 8px;
  font-weight: bold;
  color: var(--color-four);
  z-index: 10;
}
.logopos {
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 0;
  margin-top: 0;
  padding-left: 0;
  margin-left: 0;
}
table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: collapse !important;
  border-spacing: 0;
  padding-top: 120px;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 2500px) {
  .table.dataTable {
    padding-top: 140px;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .table.dataTable {
    padding-top: 120px;
    font-size: 14px;
  }
}
table.dataTable > thead > tr > th {
  border-bottom: 2px solid var(--color-three);
}
table.dataTable > tbody > tr > td {
  border-bottom: 1px solid var(--color-three);
}
.tdm {
  text-align: center;
  border-color: var(--color-five);
}
.imgsporticon {
  filter: var(--color-thirteen);
  padding: 3px;
}
.dataTables tbody tr {
  min-height: 15px; /* or whatever height you need to make them all consistent */
  padding: 0;
  margin: 0;
  border-top: 5px solid;
  border-color: var(--color-three);
  color: var(--color-two);
}
.dataTables_wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.move-table {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: collapse !important;
  border-spacing: 0;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.paginate_button.active .page-link {
  background-color: var(--color-six) !important;
  color: var(--color-three);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-three);
}
.page-item .page-link {
  background-color: var(--color-ten) !important;
  box-shadow: none;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-three);
}
.page-item.active .page-link {
  color: var(--color-three);
  background-color: var(--color-two);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-three);
  box-shadow: none;
}
.page-item.previous .page-link {
  color: var(--color-three);
  background-color: var(--color-two);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-three);
  box-shadow: none;
}
.page-item.ellipsis {
  color: var(--color-three);
  background-color: var(--color-two);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-three);
  box-shadow: none;
}
.page-item.next .page-link {
  color: var(--color-three);
  background-color: var(--color-two);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-three);
  box-shadow: none;
  margin-right: 20px;
}
.page-item.inactive .page-link {
  color: var(--color-three);
  background-color: var(--color-two);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-three);
  box-shadow: none;
}
/*--------------------------------------------*/
div.dataTables_paginate {
  justify-content: center;
}
.table-text {
  color: var(--color-two);
  font-weight: normal;
  font: 14px Arial, sans-serif;
}
.table-text-warning {
  color: var(--color-seven);
  font-weight: normal;
  font: 14px Arial, sans-serif;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.home-section {
  background: var(--color-four);
  width: 100%;
  height: 670px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: 1;
}
@media screen and (max-width: 2500px) {
  .home-section {
    height: 720px;
  }
}
@media screen and (max-width: 768px) {
  .home-section {
    height: 700px;
  }
}
.subheader {
  position: fixed;
  width: 100%;
  height: 145px;
  background-color: var(--color-header);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: 2;
}
.rounded-top-left-1 {
  border-top-left-radius: 1rem;
}
.rounded-top-right-1 {
  border-top-right-radius: 1rem;
}
.rounded-bottom-left-1 {
  border-bottom-left-radius: 1rem;
}
.rounded-bottom-right-1 {
  border-bottom-right-radius: 1rem;
}
.img-responsive-width {
  display: block;
  max-height: auto;
  max-width: 100%;
}
.special-card {
  /* create a custom class so you 
     do not run into specificity issues 
     against bootstraps styles
     which tends to work better than using !important 
     (future you will thank you later)*/
  background-color: rgba(245, 245, 245, 1);
  opacity: 0.4;
}
a,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: var(--color-six);
}
.modal-text {
  color: inherited;
}
.modal-text:hover {
  color: var(--color-six);
}
.btn-circle.btn-xl {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
}
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
.dot {
  height: 45px;
  width: 45px;
  background-color: var(--color-one);
  border-radius: 50%;
  display: inline-block;
  color: var(--color-ten);
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
}
.dot:hover {
  background-color: var(--color-eight);
  color: inherit;
  text-decoration: none;
}
.dotb {
  height: 45px;
  width: 45px;
  background-color: var(--color-one);
  color: var(--color-ten);
  border-radius: 50%;
  display: inline-block;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
}
.blinking {
  height: 45px;
  width: 45px;
  background-color: var(--color-six);
  color: var(--color-ten);
  border-radius: 50%;
  display: inline-block;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 0px;
  border-color: var(--color-seven) 00;
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: 100;
}
@keyframes blinking {
  50% {
    background-color: var(--color-eight);
  }
}
.anchor {
  position: relative;
  top: -140px;
}
.dotbt {
  height: 45px;
  width: 45px;
  background-color: var(--color-one);
  color: var(--color-ten);
  border-radius: 50%;
  display: inline-block;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
}
.dotbt:hover {
  background-color: var(--color-eight);
  color: inherit;
  text-decoration: none;
}

.contact .hover-text {
  opacity: 0;
  transition-duration: 0.3s;
}
.contact:hover .main-text {
  opacity: 0;
  transition-duration: 0.3s;
}
.contact:hover .hover-text {
  opacity: 1;
  transition-duration: 0.3s;
  margin-top: -6px;
  margin-left: -32px;
}
.main-text {
  margin-left: 24px;
  top: 0px;
}
.dotbtt {
  /*padding-top: 13px;*/
  height: 45px;
  width: 45px;
  background-color: var(--color-one);
  color: var(--color-ten);
  border-radius: 50%;
  display: inline-block;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
}
.dotbtt:hover {
  color: inherit;
  text-decoration: none;
}
.dotbtc {
  /*padding-top: 13px;*/
  height: 10px;
  width: 10px;
  font-weight: normal;
  font: 8px Arial, sans-serif;
  background-color: var(--color-six);
  color: var(--color-ten);
  border-radius: 50%;
  display: inline-block;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
}
.dotbtc:hover {
  color: inherit;
  text-decoration: none;
}
.firstpara {
  padding-top: 120px;
  z-index: 10;
}
.firstparalogin {
  padding-top: 250px;
  z-index: 10;
}
.firstparaalt {
  padding-top: 90px;
  z-index: 10;
}
.firstparaaltej {
  padding-top: 90px;
  z-index: 10;
}
.firstparas {
  padding-top: 150px;
  z-index: 10;
}
.firstparavp {
  padding-top: 140px;
  z-index: 10;
}
.firstparaej {
  padding-top: 10px;
  z-index: 1000000;
}
.button-colours {
  background-color: var(--color-submit);
  color: var(--color-ten);
}
.button-colours-alt {
  background-color: var(--color-cancel);
  color: var(--color-ten);
}
.button-colours-settings {
  background-color: var(--color-settings-buttons);
  color: var(--color-ten);
}
.form-text {
  color: var(--color-two);
}
.form-text-alt {
  color: var(--color-six);
  z-index: 20;
}
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: var(--color-two);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--color-six);
  cursor: pointer;
  border-radius: 50%;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--color-six);
  cursor: pointer;
  border-radius: 50%;
}
hr {
  border-color: var(--color-three);
  padding-top: 5px;
}
.navbar {
  position: fixed;
  width: 100%;
  background: var(--color-top-menu-bar);
  opacity: 1;
  padding-right: 100px;
  height: 94px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 1rem 1.5rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-ten);
  border-radius: 5px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  margin-left: 0rem;
}
.nav-link {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-ten);
}
.nav-link:hover {
  color: var(--color-twelve);
}
.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: var(--color-six);
}
@media only screen and (max-width: 870px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 95px;
    flex-direction: column;
    background-color: var(--color-top-menu-bar);
    width: 40%;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: left;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding-left: 0px;
    z-index: 500;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu.active {
    left: 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
}
ul {
  list-style: none;
}
/*----CSS Modal overrides-------*/
.modal_header {
  background-color: var(--color-modal-header);
  color: var(--color-modal-text);
}
.modal_body {
  background-color: var(--color-modal-body);
  color: var(--color-modal-text);
}
.modal_footer {
  background-color: var(--color-modal-footer);
  color: var(--color-modal-text);
}
.modal_button_cancel {
  background-color: var(--color-cancel);
  color: var(--color-ten);
}
.modal_button_submit {
  background-color: var(--color-submit);
  color: var(--color-ten);
}
.cardvp {
  border-radius: 15px;
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
  background-color: var(--color-nine);
}
.diva {
  overflow-x: hidden;
}
.dt-head-center {
  text-align: center;
}
